.career-component{
    opacity: 1;
    transition: .75s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.no-career{
    opacity: 0;
}
.apply-form{
    width: 70%;
    height: auto;
    box-sizing: border-box;
    padding: 1%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
    font-family: 'Nunito', sans-serif;
}
.apply-form input::placeholder{
    color: black;
}
.apply-header{
    display: flex;
    width: 100%;
    align-items: center;
    height: 14vh;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    margin-bottom: 5%;
}
.apply-header p{
    font-size: 2.5vw;
    text-transform: uppercase;
    color: tomato;
}
.apply-header img{
    height: 100%;
    width: auto;
}

.apply-input-wrapper{
    width: 45%;
    height: 6vh;
    position: relative;
}
.apply-form > nav{
    width: 92%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin-bottom: 5%;
    height: 6%;
}
.apply-input{
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid tomato;
    background-color: white;
    font-size: 1vw;
    padding: 1%;
    box-sizing: border-box;
}
.fill-input{
    color: rgb(34, 34, 34);
    border: solid tomato 2px;
    border-radius: 3px;
    background-color: peachpuff;
    width: 100%;
    height: 100%;
    font-size: 1vw;
    padding: 1%;
    box-sizing: border-box;
}
.fill-input:focus{
    outline: none;
}
.apply-input:focus{
    outline: none;
    color: rgb(34, 34, 34);
    border-color: tomato;
    background-color: peachpuff;
}
.input-error{
    position: absolute;
    left: 1%;
    bottom: -70%;
    display: initial;
    color: tomato;
    font-size: .8vw;
    font-weight: bold;
}
.no-error{
    display: none;
}

.text-area{
    width: 92%;
    height: 35vh;
    border-radius: 3px;
    border: 1px solid tomato;
    background-color: white;
    font-size: 1vw;
    padding: 1%;
    box-sizing: border-box;
    resize: none;
}
.fill-text-area{
    color: rgb(34, 34, 34);
    border: solid tomato 2px;
    border-radius: 3px;
    background-color: peachpuff;
    width: 92%;
    height: 35vh;
    font-size: 1vw;
    padding: 1%;
    resize: none;
    box-sizing: border-box;
}
.fill-text-area:focus{
    outline: none;
}
.text-area:focus{
    outline: none;
    color: rgb(34, 34, 34);
    border-color: tomato;
    background-color: peachpuff;
}
.text-area::placeholder{
    color: black;
}

.apply-button-wrapper{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2%;
}
.apply-button{
    width: 42%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid tomato;
    color: tomato;
    font-size: 1vw;
    font-weight: bold;
    transition: .25s ease-out;
    background-color: white;
}
.apply-button:hover{
    color: white;
    background-color: tomato;
}

.resume-wrapper{
    position: relative;
}
.fake-file-button{
    font-size: 1vw;
    background-color: white;
    border: 2px solid tomato;
    font-weight: bold;
    color: tomato;
    margin-right: 2%;
    transition: .25s ease-out;
    z-index: 1;
    padding: .8vw;
}
.fake-file-button:hover{
    background-color: tomato;
}
.resume-wrapper input{
    text-align: right;
    z-index: 2;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
}
.resume-wrapper input:focus .fake-file-button{
    background-color: tomato;
}
.attach-file-button:hover{
    cursor: pointer;
}
.file-name{
    margin-left: 10px;
    color: tomato;
    margin-bottom: 0;
    margin-top: 0;
}
.full-resume-wrapper{
    display: flex;
    align-items: center;
    overflow: hidden;
}

.career-success-pop{
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.career-success-pop > nav{
    background-color: grey;
    width: 100%;
    height: 100%;
    opacity: .5;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}
.career-success-main{
    width: 35%;
    height: 34vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.career-success-main nav{
    position: absolute;
    top: 3%;
    left: 3%;
    transition: .25s;
    font-size: 1.5vw;
}
.career-success-main nav:hover{
    color: tomato;
    cursor: pointer;
}
.career-success-main p{
    font-size: 2vw;
    color: tomato;
    text-transform: uppercase;
}

@media(max-width: 425px){
    .apply-form{
        width: 100%;
        border-radius: 0;
        margin-bottom: 1vh;
    }
    .apply-header p{
        font-size: 7vw;
    }
    .apply-form > nav{
        flex-direction: column;
        /* height: 20%; */
        margin-bottom: 0;
    }
    .apply-input{   
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    .fill-input{
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    .input-error{
        font-size: 3vw;
        bottom: -70%;
    }
    .apply-input-wrapper{
        width: 100%;
        height: 6vh;
        margin-bottom: 6%;
    }
    .text-area{
        font-size: 3vw;
        height: 20vh;
    }
    .fill-text-area{
        font-size: 3vw;
        height: 20vh;
    }
    .apply-button-wrapper{
        margin-bottom: 1vh;
    }
    .apply-button{
        width: 50%;
        font-size: 4vw;
    }
    .resume-wrapper{
        width: 40%;
    }

    .career-success-main{
        width: 90%;
        height: 30vh;
    }
    .career-success-main nav{
        font-size: 5vw;
    }
    .career-success-main p{
        font-size: 5vw;
    }
}


@media(max-height: 425px){
    .apply-form{
        height: 200vh;
        width: 100%;
        border-radius: 0;
        margin-bottom: 1vh;
    }
    .apply-header p{
        font-size: 7vw;
    }
    .apply-form > nav{
        flex-direction: column;
        height: 30%;
        margin-bottom: 0;
    }
    .apply-input{   
        font-size: 3vw;
        margin-bottom: 1vh;
    }
    .fill-input{
        font-size: 3vw;
    }
    .input-error{
        font-size: 3vw;
        bottom: -90%;
    }
    .apply-input-wrapper{
        width: 100%;
        height: 100%;
        margin-bottom: 6%;
    }
    .text-area{
        font-size: 3vw;
        height: 30%;
    }
    .fill-text-area{
        font-size: 3vw;
        height: 30%;
    }
    .apply-button-wrapper{
        margin-bottom: 0;
    }
    .apply-button{
        width: 50%;
        font-size: 4vw;
    }
    .resume-wrapper{
        width: 40%;
    }

    .career-success-main{
        width: 80%;
        height: 50vh;
    }
    .career-success-main nav{
        font-size: 4vw;
    }
    .career-success-main p{
        font-size: 4vw;
    }
}