.works-component{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Enriqueta', serif;
    color: rgb(66,66,66);
    opacity: 1;
    transition: .75s ease-in-out;
}
.no-works{
    opacity: 0;
}
.works-top-section p{
    font-size: 1vw;
    margin-left: .5vw;
}
#works-top-title{
    font-size: 4vw;
    color: tomato;
    margin-top: 0;
    margin-bottom: 2vh;
    font-weight: bolder;
    margin-left: 0;
}
#works-list-title{
    font-size: 1.4vw;
    margin-bottom: 0;
    color: tomato;
}
.works-top-list{
    margin-top: 0;
    margin-bottom: 4vh;
    font-size: 1.3vw;
    color: tomato;
}
.works-hr{
    width: 100%;
    border-color: rgba(255, 99, 71, 0.508);
}
#top-last-tag{
    margin-bottom: 4vh;
}
#works-afford-title{
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 0;
    color: tomato;
}

.works-bottom-section nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.works-bottom-section nav img{
    width: 70%;
}
.works-bottom-section p{
    font-size: 1vw;
    margin-left: .5vw;
}
#works-bottom-title{
    font-size: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: tomato;
}
#works-bottom-prof{
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 2vh;
    color: tomato;
}

@media(max-width: 1280px){
    .works-top-section p{
        font-size: 1.5vw;
    }
    #works-list-title{
        font-size: 2vw;
    }
    .works-top-list{
        font-size: 1.5vw;
    }
    #works-afford-title{
        font-size: 2.3vw;
    }
    .works-bottom-section p{
        font-size: 1.5vw;
    }
    #works-bottom-title{
        font-size: 2.3vw;
    }
    #works-bottom-prof{
        font-size: 2.3vw;
    }
}

@media (max-width: 425px){
    .works-top-section p{
        font-size: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .works-top-list{
        font-size: 3.5vw;
        margin-bottom: 1vh;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .works-bottom-section p{
        font-size: 3.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-afford-title{
        font-size: 5.5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-bottom-title{
        font-size: 5.5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-list-title{
        font-size: 5.5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #works-top-title{
        font-size: 7vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #works-bottom-prof{
        font-size: 5vw;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .works-bottom-section nav img{
        width: 100%;
        height: auto;
    }
}

@media(max-height: 425px){
    .works-top-section p{
        font-size: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .works-top-list{
        font-size: 3vw;
        margin-bottom: 1vh;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .works-bottom-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-afford-title{
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-bottom-title{
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #works-list-title{
        font-size: 5vw;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #works-top-title{
        font-size: 6.5vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #works-bottom-prof{
        font-size: 4.5vw;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .works-bottom-section nav img{
        width: 85%;
        height: auto;
    }
}