.header-component{
    width: 65vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7vh;
}
.header-drop-menu{
    display: none;
}
.header-left-section{
    width: 35%;
    height: 100%;
    display: flex;
    align-items: flex-start;
}
.header-left-section img{
    height: 100%;
    width: auto;
}
.header-icon-text{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.header-icon-text p{
    color: tomato;
}
.header-icon-text hr{
    width: 100%;
    border-color: rgb(255, 146, 126);
    color: rgb(255, 146, 126);
}
.header-icon-title{
    font-size: 25px;
    margin: 0;
}
.header-title-second{
    font-size: 12px;
    margin: 0;
}
.header-title-third{
    font-size: 12px;
    margin: 0;
}
.header-right-section{
    width: 60%;
    box-sizing: border-box;
    height: 3.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    color: salmon;
    position: relative;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    /* box-shadow: rgba(255, 99, 71, 0.7) -5px 5px, rgba(255, 99, 71, 0.5) -10px 10px, rgba(255, 99, 71, 0.3) -15px 15px, rgba(255, 99, 71, 0.2) -20px 20px */
}
.header-nav-box{
    background-color: white;
    color: black;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
    text-decoration: none;
    /* z-index: -1; */
}
.header-nav-box:hover .absolute-front-color{
    background-color: tomato;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.header-nav-box:hover .header-nav-text{
    color: white;
}
.header-nav-box .header-nav-text{
    margin-right: .5vw;
    margin-left: .5vw;
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
    color: rgb(66, 66, 66);
}
.absolute-front-color{
    position: absolute;
    width: 0;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    transition: .25s ease-in;
}
.absolute-home-color{
    background-color: tomato;
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    position: absolute;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.header-contact{
    position: absolute;
    right: 0;
    bottom: -6.5vh;
    font-size: 20px;
    font-weight: bold;
}
.white-nav-text{
    margin-right: .5vw;
    margin-left: .5vw;
    z-index: 100;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

@media (max-width: 1440px){
    .header-component{
        width: 75vw;
    }
  }

@media(max-width: 425px ){
    .header-component{
        width: 100%;
        justify-content: space-between;
        padding-right: 5vw;
        padding-left: 2vw;
        box-sizing: border-box;
        margin-bottom: 2vh;
    }
    .header-right-section{
        display: none;
    }
    .header-left-section{
        width: auto;
        height: 80%;
        align-items: center;
    }
    .header-icon-text{
        margin-top: 1vh;
    }
    .header-icon-text hr{
        margin-top: .5vh;
        margin-bottom: .5vh;
    }
    .header-icon-title{
        font-size: 4vw;
    }
    .header-title-second{
        font-size: 2.4vw;
    }
    .header-title-third{
        font-size: 2.4vw;
    }

    .header-drop-menu{
        display: initial;
    }
    .header-icon-wrapper{
        position: absolute;
        padding: 2%;
        top: 3.5vh;
        right: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid tomato;
        border-radius: 10px;
        z-index: 505;
    }
    .fixed-icon-wrapper{
        position: fixed;
        padding: 2%;
        top: 3.5vh;
        right: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid tomato;
        border-radius: 10px;
        z-index: 505;
    }
    .drop-menu-icon{
        color: tomato;
        font-size: 9vw;
        opacity: 1;
        transition: .25s ease-in;
    }
    .no-drop-menu-icon{
        color: tomato;
        font-size: 9vw;
        opacity: 0;
        transition: .25s ease-out;
        transform: rotate(45deg);
    }
    .drop-menu{
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 500;
        background-color: rgb(255, 207, 192);
        transition: .25s ease-out;
        opacity: 1;
        display: flex;
        align-items: center;  
        box-sizing: border-box;
        padding-left: 4vw;
    }
    .no-drop-menu{
        top: 0;
        right: 0;
        height: 100vh;
        position: fixed;
        z-index: 500;
        background-color: peachpuff;
        transition: .25s ease-in;
        opacity: .2;
        width: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;  
    }
    .drop-links{
        opacity: 1;
        transition: .5s;
        transition-delay: .25s;
        height: 70%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
    }
    .no-drop-links{
        opacity: 0;
        transition: .5s;
        /* transition-delay: .25s; */
        height: 70%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
    }
    .drop-nav-text{
        font-size: 4.5vw;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    .drop-current-nav{
        font-size: 4.5vw;
        font-weight: bold;
        text-decoration: none;
        color: tomato;
    }
    .no-contact-drop-down{
        transition: .5s;
        opacity: 0;
        top: 3vh;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        position: absolute;
        font-size: 5vw;
    }
    .contact-drop-down{
        text-transform: uppercase;
        font-size: 5vw;
        transition: .5s;
        transition-delay: .25s;
        opacity: 1;
        color: black;
        font-weight: bold;
        top: 3vh;
        position: absolute;
    }
    #exit-icon{
        font-size: 9vw;
        position: absolute;
    }
}

@media(max-height: 425px){
    .header-component{
        width: 96vw;
        height: 20vh;
    }
    .header-right-section{
        display: none;
    }
   .header-left-section{
        width: auto;
        height: 100%;
        align-items: center;
    } 
    .header-left-section img{
        margin-top: 1vh;
        height: 100%;
        width: auto;
    }
    .header-icon-text{
        margin-top: 4vh;
    }
    .header-icon-text hr{
        margin-top: .5vh;
        margin-bottom: .5vh;
    }
    .header-icon-title{
        font-size: 3vw;
    }
    .header-title-second{
        font-size: 1.7vw;
    }
    .header-title-third{
        font-size: 1.7vw;
    }

    .header-drop-menu{
        display: initial;
    }
    .header-icon-wrapper{
        position: absolute;
        transition: .25s;
        padding: 1%;
        top: 3.5vh;
        right: 4vw;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid tomato;
        border-radius: 10px;
        z-index: 505;
    }
    .fixed-icon-wrapper{
        position: fixed;
        padding: 1%;
        top: 3.5vh;
        right: 4vw;
        transition: .25s;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border: 2px solid tomato;
        border-radius: 10px;
        z-index: 505;
    }
    .drop-menu-icon{
        color: tomato;
        font-size: 6.5vw;
        opacity: 1;
        transition: .25s ease-in;
    }
    .no-drop-menu-icon{
        color: tomato;
        font-size: 6.5vw;
        opacity: 0;
        transition: .25s ease-out;
        transform: rotate(45deg);
    }
    .drop-menu{
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        position: fixed;
        z-index: 500;
        background-color: rgb(255, 207, 192);
        transition: .25s ease-out;
        opacity: 1;
        display: flex;
        align-items: center;  
        box-sizing: border-box;
        padding-left: 4vw;
    }
    .no-drop-menu{
        top: 0;
        right: 0;
        height: 100vh;
        position: fixed;
        z-index: 500;
        background-color: peachpuff;
        transition: .25s ease-in;
        opacity: .2;
        width: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;  
    }
    .drop-links{
        opacity: 1;
        transition: .5s;
        transition-delay: .25s;
        height: 75%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
    }
    .no-drop-links{
        opacity: 0;
        transition: .5s;
        /* transition-delay: .25s; */
        height: 75%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-evenly;
    }
    .drop-nav-text{
        font-size: 3.5vw;
        font-weight: bold;
        text-decoration: none;
        color: black;
    }
    .drop-current-nav{
        font-size: 3.5vw;
        font-weight: bold;
        text-decoration: none;
        color: tomato;
    }
    .no-contact-drop-down{
        transition: .5s;
        opacity: 0;
        top: 0;
        text-transform: uppercase;
        color: black;
        font-weight: bold;
        position: absolute;
        font-size: 3.5vw;
    }
    .contact-drop-down{
        text-transform: uppercase;
        font-size: 3.5vw;
        transition: .5s;
        transition-delay: .25s;
        opacity: 1;
        color: black;
        font-weight: bold;
        position: absolute;
        top: 0;
    }
    #exit-icon{
        font-size: 9vw;
        position: absolute;
    }
}