.talk-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: rgb(66,66,66);
    opacity: 1;
    transition: .75s ease-in-out;
}
.no-talk{
    opacity: 0;
}
.talk-component hr{
    width: 100%;
    border-color: rgba(255, 99, 71, 0.508);
}
.talk-top-first{
    display: flex;
    width: 100%;
    text-align: left;
    margin-bottom: 5vh;
    align-items: center;
}
.talk-top-first img{
    width: 50%;
    height: auto;
    margin-left: 2vw;
    border-radius: 10px;
}
.talk-top-last{
    display: flex;
    width: 100%;
    text-align: left;
    align-items: center;
    margin-bottom: 6vh;
}
.talk-top-last img{
    width: 50%;
    height: auto;
    margin-right: 2vw;
    border-radius: 10px;
}
.talk-first-text p{
    font-size: 1.3vw;
    line-height: 3.5vh;
}
.talk-last-text p{
    font-size: 1.3vw;
    line-height: 3.5vh;
}
#talk-first-last-title{
    font-size: 2vw;
    color: tomato;
    font-weight: bold;
}

.talk-top-text-section p{
    font-size: 1vw;
    line-height: 3.5vh;
    text-align: left;
}
#talk-text-section-title{
    font-size: 3vw;
    margin-top: 2vh;
    font-weight: bold;
    color: tomato;
    text-transform: uppercase;
}
#talk-text-subtitle{
    font-size: 2vw;
    color: tomato;
    margin-bottom: 2vh;
}

.talk-quote-form{
    margin-top: 6vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    text-align: left;
    padding: 3%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
}
.talk-quote-form > div{
    width: 100%;
}
.quote-header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    margin-bottom: 3vh;
}
.quote-header p{
    font-size: 2.8vw;
    text-transform: uppercase;
    color: tomato;
}
.detail-text{
    font-size: .8vw;
    margin-bottom: 0;
}
.quote-label{
    margin-bottom: 3px;
    font-size: 1.1vw;
    color: tomato;
    font-weight: bold;
}
.quote-address{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.quote-input-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.quote-input::placeholder{
    color: black;
}
.quote-input{
    width: 45%;
    height: 4vh;
    border: 1px solid tomato;
    border-radius: 3px;
    font-size: 1vw;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 2vh;
}
.quote-input:focus{
    outline: none;
    background-color: peachpuff;
}
.filled-quote-input{
    width: 45%;
    height: 4vh;
    border: 2px solid tomato;
    background-color: peachpuff;
    border-radius: 3px;
    font-size: 1vw;
    padding: 1%;
    box-sizing: border-box;
    margin-bottom: 2vh;
}
.filled-quote-input:focus{
    outline: none;
}
.quote-homeowner nav{
    display: flex;
    align-items: center;
}
.quote-radio-input{
   width: 1vw;
   height: 1vw;
}
.quote-radio-choice{
    font-size: 1vw;
    margin-left: .5%;
}
.quote-sub-label{
    font-size: .8vw;
    margin-top: 0;
    margin-bottom: 0;
}
.quote-button{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}
.quote-button button{
    width: 42%;
    padding-top: 2%;
    padding-bottom: 2%;
    border: 2px solid tomato;
    color: tomato;
    font-size: 1vw;
    font-weight: bold;
    transition: .25s ease-out;
    background-color: white;
}
.quote-button button:hover{
    background-color: tomato;
    color: white;
}

#full-input{
    width: 100%;
}
#quote-textarea{
    width: 100%;
    height: 15vh;
    resize: none;
    font-size: .9vw;
}
#no-margin{
    margin-bottom: 0;
}
.quote-input-err{
    font-size: 1vw;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    color: tomato;
    display: initial;
}
.no-error{
    display: none;
}

.talk-success-pop{
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.talk-success-pop > nav{
    background-color: grey;
    width: 100%;
    height: 100%;
    opacity: .5;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}
.talk-success-main{
    width: 35%;
    height: 34vh;
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 4px 7px, rgba(0, 0, 0, 0.23) 0px 4px 7px;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.talk-success-main nav{
    position: absolute;
    top: 3%;
    left: 3%;
    transition: .25s;
    font-size: 1.5vw;
}
.talk-success-main nav:hover{
    color: tomato;
    cursor: pointer;
}
.talk-success-main p{
    font-size: 2vw;
    color: tomato;
    text-transform: uppercase;
    margin-bottom: 1vh;
    margin-top: 0;
}
#success-shortly{
    font-size: 1.7vw;
    margin-bottom: 0;
    text-transform: initial;
    color: black;
}

@media (max-width: 425px){
    .talk-top-first{
        flex-direction: column;
        margin-bottom: 0;
    }
    .talk-top-first img{
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-left: 0;
    }
    .talk-first-text p{
        font-size: 3.3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #talk-first-last-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
        margin-top: 2vh;
    }
    .talk-top-last{
        flex-direction: column;
        margin-bottom: 0;
    }
    .talk-top-last img{
        margin-top: 1vh;
        width: 100%;
        height: auto;
        margin-right: 0;
        border-radius: 0;
    }
    .talk-top-last p{
        font-size: 3.3vw;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 0;
    }

    #talk-text-section-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    #talk-text-subtitle{
        font-size: 4.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    .talk-top-text-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .talk-quote-form{
        width: 100%;
        border-radius: 0;
        margin-bottom: 2vh;
    }
    .quote-header{
        height: 5vh;
        margin-bottom: 1vh;
    }
    .quote-header p{
        font-size: 5vw;
    }
    .detail-text{
        font-size: 2.7vw;
    }
    .quote-input-wrapper{
        flex-direction: column;
    }
    .quote-label{
        font-size: 4vw;
    }
    .quote-input{
        width: 100%;
        font-size: 3vw;
    }
    .filled-quote-input{
        width: 100%;
        font-size: 3vw;
    }
    .quote-radio-input{
        width: 4vw;
        height: 4vw;
    }
    .quote-radio-choice{
        font-size: 3vw;
    }
    .quote-sub-label{
        font-size: 2.7vw;
    }
    #quote-textarea{
        font-size: 3vw;
    }
    .quote-button button{
        width: 50%;
        font-size: 3.5vw;
        margin-bottom: 1vh;
    }
}


@media (max-height: 425px){
    .talk-top-first{
        flex-direction: column;
        margin-bottom: 0;
    }
    .talk-top-first img{
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-left: 0;
    }
    .talk-first-text p{
        font-size: 3.3vw;
        margin-left: 2vw;
        margin-right: 2vw;
        line-height: initial;
    }
    #talk-first-last-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
        margin-top: 2vh;
    }
    .talk-top-last{
        flex-direction: column;
        margin-bottom: 0;
    }
    .talk-top-last img{
        margin-top: 1vh;
        width: 100%;
        height: auto;
        margin-right: 0;
        border-radius: 0;
    }
    .talk-top-last p{
        font-size: 3.3vw;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 0;
        line-height: initial;
    }

    #talk-text-section-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    #talk-text-subtitle{
        font-size: 4.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    .talk-top-text-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
        line-height: initial;
    }

    .talk-quote-form{
        width: 100%;
        border-radius: 0;
        margin-bottom: 2vh;
    }
    .quote-header{
        height: 5vh;
        margin-bottom: 1vh;
    }
    .quote-header p{
        font-size: 5vw;
    }
    .detail-text{
        font-size: 2.7vw;
    }
    .quote-input-wrapper{
        flex-direction: column;
    }
    .quote-label{
        font-size: 4vw;
    }
    .quote-input{
        width: 100%;
        font-size: 3vw;
        height: 10vh;
    }
    .filled-quote-input{
        width: 100%;
        font-size: 3vw;
    }
    .quote-radio-input{
        width: 4vw;
        height: 4vw;
    }
    .quote-radio-choice{
        font-size: 3vw;
    }
    .quote-sub-label{
        font-size: 2.7vw;
    }
    #quote-textarea{
        font-size: 3vw;
        height: 40vh;
    }
    .quote-button button{
        width: 50%;
        font-size: 3.5vw;
        margin-bottom: 1vh;
    }
}