.science-component{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    font-family: 'Enriqueta', serif;
    color: rgb(66,66,66);
    font-size: 1vw;
    opacity: 1;
    transition: .75s ease-in-out;
}
.no-science{
    opacity: 0;
}
.science-component hr{
    width: 100%;
    border-color: tomato
}
.science-steps-section > p{
    margin-left: .5vw;
}
.science-steps{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 4vh;
}
.science-align-top-steps{
    display: flex;
    flex-direction: column;
    width: auto;
}
.science-steps-description{
    color: tomato;
    font-size: .9vw;
    margin-bottom: .5vw;
}
.align-all-steps{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .9vw;
}
.science-steps img{
    width: 50%;
    margin-right: 1vw;
    margin-left: 1vw;
    height: auto;
    border: 2px solid tomato;
    border-radius: 10px;
}
#top-steps-left{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: bisque;
}
.science-align-bottom-steps{
    display: flex;
    flex-direction: column;
    width: auto;
}
.science-sun-section > p{
    margin-left: .5vw;
}
.science-eco-section > p{
    margin-left: .5vw;
}
.science-direct-section > p{
    margin-left: .5vw;
}
.science-sun-steps p{
    font-size: 1.2vw;
    margin-left: .5vw;
    margin-bottom: 0;
    color: tomato;
}
#sun-steps{
    font-size: 1.2vw;
    margin-top: 0;
    color: tomato;
}
.science-sun-steps ul{
    margin-top: 2vh;
}
#science-step-subtitles{
    font-size: 1.2vw;
    color: tomato;
    font-weight: bold;
    margin-bottom: 0;
}
#science-subtitle{
    font-size: 1.8vw;
    color: tomato;
    font-weight: bold;
    margin-bottom: 2vh;
    margin-top: 0;
    margin-left: 0;
    text-transform: uppercase;
}
#science-title{
    font-size: 3.8vw;
    color: tomato;
    font-weight: bold;
    margin-bottom: 4vh;
    margin-top: 0;
    margin-left: 0;
}
.science-step-phone{
    display: none;
}

@media(max-width: 425px){
    #science-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 1vh;
    }
    #science-subtitle{
        font-size: 4vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    .science-steps{
        margin-bottom: 0;
    }
    .science-steps-section > p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .science-steps-description{
        font-size: 2.8vw;
    }
    .align-all-steps{
        flex-direction: column;
        margin-bottom: 0;
    }
    .align-all-steps img{
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
        height: auto;
    }
    .science-align-top-steps{
        display: none;
    }
    .science-step-phone{
        display: initial;
    }
    .science-align-bottom-steps p{
        font-size: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #science-step-subtitles{
        font-size: 4vw;
        margin-bottom: 0;
    }

    .science-sun-section > p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .science-sun-steps > p{
        font-size: 3.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #sun-steps{
        font-size: 2.9vw;
    }

    .science-eco-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .science-direct-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
}


@media(max-height: 425px){
    #science-title{
        font-size: 6vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 1vh;
    }
    #science-subtitle{
        font-size: 4vw;
        margin-right: 2vw;
        margin-left: 2vw;
        margin-bottom: 0;
    }
    .science-steps{
        margin-bottom: 0;
    }
    .science-steps-section > p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .science-steps-description{
        font-size: 2.8vw;
    }
    .align-all-steps{
        flex-direction: column;
        margin-bottom: 0;
    }
    .align-all-steps img{
        width: 100%;
        border-left: none;
        border-right: none;
        border-radius: 0;
        height: auto;
    }
    .science-align-top-steps{
        display: none;
    }
    .science-step-phone{
        display: initial;
    }
    .science-align-bottom-steps p{
        font-size: 3vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    #science-step-subtitles{
        font-size: 4vw;
        margin-bottom: 0;
    }

    .science-sun-section > p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    .science-sun-steps > p{
        font-size: 3.5vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
    #sun-steps{
        font-size: 2.9vw;
    }

    .science-eco-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }

    .science-direct-section p{
        font-size: 3vw;
        margin-right: 2vw;
        margin-left: 2vw;
    }
}