.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-component{
  width: inherit;
  height: inherit;
  transition: .5s ease-in;
}
.zero{
  opacity: 0;
  transition: .5s;
}