@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Enriqueta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.App {
  text-align: center;
  color: black;
  font-family: 'Enriqueta', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(250,250,250);
}
.app-component{
  width: 65vw;
  min-height: 57vh;
  transition: .5s ease-in-out;
  opacity: 1;
}
.app-component button:hover{
  cursor: pointer;
}
.zero{
  opacity: 0;
  transition: .5s;
}
#hr-border{
  border-top: 2px solid tomato;
  width: 100%;
  margin-bottom: 1vh;
  margin-top: 3vh;
}

@media (max-width: 1440px){
  .app-component{
    width: 75vw;
  }
}

@media(max-width: 1280px){
  .app-component{
    width: 85vw;
  }
}

@media(max-width: 425px){
  .app-component{
    width: 100vw;
    box-sizing: border-box;
  }
  #hr-border{
    margin-bottom: 1vh;
    margin-top: 2vh;
  }
}

@media(max-height: 425px){
  .app-component{
    width: 100vw;
  }
}